html, body {
    min-height: 100vh;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
    color: #213053;
    font-size: 18px;
    min-width: 320px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #213053;
}

* {
    box-sizing: border-box;
}

button {
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border-radius: 15px;
    border: none;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    cursor: pointer;
}

button:hover {
    background: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: .3s ease-in;
}

.hero__btn {
    border-radius: 20px;
    padding: 20px 25px;
}

.form__btn {
    font-weight: 600;
    padding: 20px;
    margin-top: 40px;
}
