body {
    font-family: "Raleway", sans-serif;
    color: #213053;
    font-size: 18px;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #213053;
}

h1, h2, h3, h4 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

button {
    font-size: 18px;
    font-family: "Raleway", Helvetica, sans-serif;
    color: #fff;
    background-color: #23a030;
    border-radius: 15px;
    border: none;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    cursor: pointer;
}

button:hover {
    background: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: .3s ease-in;
}
