.footer {
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    padding: 90px 20px;
}

.footer__container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer__group {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.footer__title {
    font-size: 16px;
    opacity: .7;
    margin-bottom: 30px;
}

.footer__link {
    margin-bottom: 15px;
}

.footer__link:hover {
    color: rgb(19 194 36 / 88%);
    transition: .3s;
}

.footer__copyright {
    text-align: center;
    opacity: .5;
}
