.form {
    display: flex;
    justify-content: center;
    color: #fff;
    background: #1D263A;
    text-align: center;
    padding: 115px 0;
}

.form__container {
    width: 550px;

}

.form__title {
    font-size: 48px;
    margin: 40px 0;
}

.form__text {
    opacity: .65;
    margin-bottom: 60px;
}

.form__groups {
    display: grid;
    grid-gap: 20px;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form__group-label {
    font-weight: 600;
    margin-bottom: 20px;
}

.form__group-input, .form__group-select {
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.form__group-select {
    appearance: none;
}

.form__btn {
    font-weight: 600;
    margin-top: 40px;
}
