.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    transition: box-shadow, background-color .25s ease;
    z-index: 1;
}

.header__scrolled {
    background: #fff;
    box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
}

.header__contacts {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

.header__logo {
    height: 30px;
}

.header__contacts {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

.header__contacts:hover {
    color: rgb(19 194 36);
    transition: .3s;
}

.header__btn {
    font-size: 15px;
}
