.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    top: 0;
    padding: 20px;
    z-index: 1;
}

.header__contacts {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

.header__logo {
    height: 30px;
}

.header__contacts {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

.header__contacts:hover {
    color: rgb(19 194 36);
    transition: .3s;
}

.header__btn {
    font-size: 15px;
}
