.hero {
    position: relative;
    background: url("../img/back.png") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 115px 0;
}

.hero__orb-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}

.hero__content {
    max-width: 550px;
}

.hero__content-title {
    font-size: 70px;
    font-weight: bold;
    line-height: 76px;
    margin: 58px 0;
}

.hero__content-text {
    line-height: 30px;
    opacity: .8;
    margin-bottom: 38px;
}

.hero__img {
    position: relative;
}

.hero__img-sun {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero__img-battery {
    width: 500px;
}

.hero__btn {
    border-radius: 20px;
    padding: 20px 25px;
}
